
@media screen and (min-width: 350px) and (max-width: 450px) {

    @media screen and (max-width: 600px) {
        .container_home {
        grid-template-columns: 1fr;
        
        }
    
        .container_home_fotos {
            order: 1;
            margin-right: 0;
            justify-content: center; 
            align-items: center; 
            margin-bottom: -35px;
            height: 300px;
            padding: 0;
            display: flex; 
        }
        
        .container_home_fotos-1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 250px;
            width: 100%;
        }

        .container_home_fotos-1 img {
            height: 250px;
            width: 100%;
        }


        .container_home_fotos-2 {
            display: none;
        }
    
        .container_home_fotos-3 {
            display: none;
        }


        .container_home_textos {
        order: 2;
        padding: 16px;
        margin-top: -350px;
        }

        .container_home_textos-h1 {
            text-align: center;
            padding: 6px;
            margin-bottom: 5px;
            margin-top: -300px;
        }

        .container_home_textos h1 {
            font-size: 25px;
            padding: 18px;
            margin: 0;
        }

        .container_home_textos {

            font-size: 25px;
            padding: 18px;
            margin: 0;
            text-align: center;

        }
    
        .container_home_textos-button {
        flex-direction: row;
        font-size: 18px;
        gap: 16px;
        }
    
        .container_home_textos-categorias {
        text-align: center;
        font-size: 25px;
        padding: 6px;
        margin-top: -20px;
        }

        .container_navbar_botao {
            display: flex;
            justify-content: center;
            
        }

        .container_home_textos-categorias p {
            font-size: 18px;
            margin-top: -25px;   
        }
        
    }

    }