
@media screen and (min-width: 0px) and (max-width: 450px) {
    @media (max-width: 450px) {
        .container_sobre {
            flex-direction: column;
        }
    
        .container_sobre-textos {
            width: 90%;
            padding: 8px;
            text-align: center;
        }
    
        .container_sobre-textos h2 {
            font-size: 2rem;
            padding: 4px;
        }

        .container_sobre-textos ul {
            text-align: center;
        }
    
        .container_sobre-textos li {
            font-size: 1rem;
            text-align: center;
            list-style: none;
        }
    
        .container_sobre-img {
            margin-top: 8px;
            display: flex;
            justify-content: center;
        }
    
        .container_sobre-img img {
            width: 90%;
        }
    
        .container_sobre-quemSomos {
            padding: 8px;
            text-align: center;
        }
    
        .container_sobre-quemSomos-textos {
            width: 100%;
            padding: 8px;
        }
    
        .container_sobre-quemSomos-textos h2 {
            font-size: 2rem;
        }
    
        .container_sobre-quemSomos-textos p {
            font-size: 1rem;
            margin-bottom: 20px;
        }
    
        .container_sobre-cards {
            display: flex;
            margin: 0 auto;
            width: 90%;
            margin-top: 150px;
        }
    


        .container_sobre-cards div {
            display: flex;
            justify-content: center;
            width: 80%;
        }

        .container_sobre-cards h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .container_sobre-cards img {
            width: 150px;
        }
    }
    }
    

