@media screen and (min-width: 350px) and (max-width: 450px) {
    .container_footer {
        margin-top: 50px;
        
    }

    .container_footer_textos h6 {
        font-size: 15px;
        
    }

    .container_footer_textos p {
        font-size: 13px;
        
    }

    .container_footer_icon-icon {
        width: 25px;
    }
}