@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@use "react-widgets/styles.scss" com ()
:root{background-color: radial-gradient(circle, rgba(8,45,69,1) 0%, rgba(0,0,0,0,1) 100%)}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}